<div fxLayout="column" fxLayoutAlign="space-between stretch" fxFill>
  <ng-container *ngTemplateOutlet="toolbar"></ng-container>
  <mat-drawer-container autosize fxFlex="1 0 auto">
    <mat-drawer #sidenavMenu mode="side" opened>
      <ng-container *ngTemplateOutlet="sidenavTemplate"></ng-container>
    </mat-drawer>
    <main class="app__main-section--box">
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-container>
</div>

<ng-template #sidenavTemplate>
  <div class="sidenav__wrapper--box" fxLayout="column" fxLayoutAlign="space-between stretch">
    <button mat-stroked-button color="primary" (click)="gotToLink('/talents')">Talents</button>
  </div>
</ng-template>

<ng-template #toolbar>
  <mat-toolbar fxFlex="0 0 auto">
    <button mat-icon-button aria-label="Toggle sidenav menu" (click)="sidenavMenu.toggle()">
      <mat-icon>more_vert</mat-icon>
    </button>
    <div class="toolbar__app-title--wrapper" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
      <img src="assets/img/supersevenlogo.svg" />
      <span class="mat-h1 toolbar__app-title--box">HR Dashboard</span>
    </div>
  </mat-toolbar>
</ng-template>

